body {
  margin: 0;
  background-color: green;
  font-size: 200%;
}
.header h1 {
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 5px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  background-color: white;
  border-radius: 2px;
}
.plan, .weather {
  max-width: 50%;
  margin: 0 2em;
  text-transform: uppercase;
}
.plan h2 {
  text-indent: 0.8em;
}
