body {
  margin: 0 auto;
  font-family: sans-serif;
  background-color: #EEE;
  color: #333;
}
.header {
  text-align: center;
  background-color: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 0;
  font-size: 130%;
}
h1 {
  margin: 0;
  cursor: pointer;
  transition: none 200ms ease-out;
  transition-property: letter-spacing;
}
h1:hover {
  letter-spacing: 15px;
}
.main {
  background-color: white;
  width: 70%;
  margin-left: 15%;
  padding: 1em;
  padding-left: 2em;
  line-height: 1.5;
  border-radius: 5px;
  margin-bottom: 4em;
}
.subjects {
  text-align: center;
  font-size: 150%;
}
.subjects button {
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  border: none;
  background-color: transparent;
  font-size: 150%;
  letter-spacing: 2px;

}

.math, .chemistry, .physics {
  display: none;
}
.formula {
  letter-spacing: 5px;
}
.formula form {
  display: inline;
}
.content {
  padding-bottom: 2em;
  margin-bottom: 2em;
}
.footer {
  text-align: center;
  z-index: -1;
  position: fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width: 100%;
  padding-bottom: 1em;
}
