
body {
  margin: 0;
}
main {
  background-image: url("https://humblebundle-a.akamaihd.net/misc/files/hashed/c413ac5f06e119ba617d2ed5005b07753065372f.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin: 0 auto;
  padding-top: 10vw;
  padding-bottom: 30vw;
  text-align: center;
}
main h1 {
  color: white;
  text-transform: uppercase;
  font-size: 300%;
  letter-spacing: 20px;
  -webkit-text-stroke: 1px orange;
  margin-bottom: 2em;
  text-shadow: 2px 2px #ff0000;
}
main a {
  text-transform: uppercase;
  text-decoration: none;
  color: orange;
  padding: 1em 2em;
  border: 1px solid white;
  transition: none 200ms ease-out;
  transition-property: color, background;
  letter-spacing: 2px;
  margin: 10px;
}
main a:hover {
  background-color: orange;
  color: white;
    border: 1px solid orange;
}
