body {
  margin: 0 auto;
  background-image: url("http://fullhdpictures.com/wp-content/uploads/2016/02/Kesha-Wallpaper-HD.jpg");
  background-size: 100% 200%;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: black;
}
.main {
  max-width: 50%;
  max-height: 60%;
  margin-left: 30%;
  border-radius: 10px;
  color: #333;
  height: 100%;
  text-align: center;

}
.header h1 {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: orange;
  margin-left: 10%;
}
.main .form {
  border-radius: 10px;
  text-align: center;
  padding-bottom: 2em;
}
.form textarea {
  max-width: 90%;
  max-height: 800px;
}
.kesh {
  margin: 2em;
}
.main .kesh a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 2em;
  border: 1px solid orange;
  padding: 0.5em 1em;
  color: white;
  background-color: orange;
  letter-spacing: 5px;
  transition: none 200ms ease-out;
  transition-property: color, background;
}
.main .kesh a:hover {
  background-color: white;
  color: orange;
  border-color: orange;
  cursor: pointer;
}
