body {
  margin: 0;
  background-color: #E6E6E6;
}
header {
  background-image: url("fjord.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
  padding: 15vw 2em;
  text-align: center;
  background-color: white;

}
header h1 {
  color: white;
  font-family: sans-serif;
  font-size: 300%;
}
main {
  width: 60%;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;

}
.para {
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  margin-bottom: 20px;
  color: #555;
}
.para h2 {
  color: #333;
  padding-top: 1em;
}
.para video {
  max-width: 100%;
}
.para video:hover {
  cursor: none;
}
.para audio {
  width: 100%;
}
.para img {
  max-width: 100%;
  margin-bottom: 5em;
}
footer {
  width: 100%;
  text-align: center;
  color: #333;
  padding-bottom: 3em;
}
