body {
  margin: 0;
  background-color: #00695C;
  z-index: -2;
  font-family: 'Alice', serif;
}
h1 {
  margin: 0;
  font-family: serif;
}
#underh1 {
  color: #E0F2F1;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  text-shadow: 1px 1px black;
}
.topbar {
  width: 100%;
  background-color: #00695C;
  display: inline;
  position: fixed;
}
.topbar a {
  color: #E0F2F1;
  display: inline;
  margin: 0 1em;
  padding: 1em;
  text-transform: uppercase;
}
.topbar a:hover {
  background-color: #E0F2F1;
  color: #00695C;
  text-decoration: none;
}
#topflex {
  display: flex;
  justify-content: center;
  /*border-bottom: 1px solid #E0F2F1;*/
  flex-wrap: wrap;
}
#bamburger {
  display: none;
  position: fixed;
  float: right;
  padding: 1em;
  padding-left: 95%;
  font-size: 80%;
  z-index: 0;
  color: #00695C;
  width: 100%;
  background-color: #00695C;
}
#hamburger {
  display: none;
  position: fixed;
  float: right;
  padding: 1em;
  margin-left: 90%;
  font-size: 80%;
  z-index: 4;
  color: #E0F2F1;
  width: 100%;
}
#hamburger:hover {
  cursor: pointer;
  text-decoration: none;
}
#burgers {
  display: none;
}
.header {
  background-color: #00695C;
  border-bottom: 1px solid #E0F2F1;
}
.header h1 {
  max-width: 100%;
  overflow: hidden;
  text-align: center;
}
.top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #00695C;
  z-index: 0;

}
.top a {
  padding: 1em;
  color: #E0F2F1;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 120%;
  letter-spacing: 2px;
}
.top a:hover {
  background-color: #E0F2F1;
  color: #00695C;
  text-decoration: none;
}
.image {
  background-image: url("IMG_1737.JPG");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 75vh;
  z-index: -4;
  filter: saturate(2);
}
h1 {
  text-align: center;
  color: #E0F2F1;
  text-transform: uppercase;
  font-size: 250%;
  text-shadow: 2px 2px black;
  letter-spacing: 0.2em;
  line-height: 1;
  padding-top: 0.5em;
}
.bot {
  min-height: 50vh;
  background-color: #E0F2F1;
  z-index: 0;
}
.image1 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 60vh;
  z-index: -4;
}
#intro {
  background-image: url("IMG_1775.JPG");
  z
}
#loc {
  background-image: url("location.png");
}
.para {
  min-height: 30vh;
  background-color: #E0F2F1;
  border-bottom: 1px solid #00695C;
}

h2 {
  letter-spacing: 1px;
  color: #00695C;
  padding-left: 20px;
  font-family: serif;
}
p {
  letter-spacing: 1px;
  line-height: 1.5;
  color: #333;
  padding-left: 20px;
}
#flex {
  display: flex;
  justify-content: center;
}
.flextext {
  margin: 0px 5%;
  max-width: 50%;
  min-width: 40%;

}
#bestbooks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#aBooks {
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #00695C;
  flex-wrap: wrap;
}
.bookmenu {
  text-decoration: none;
  color: #E0F2F1;
  padding: 0.5em 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  letter-spacing: 2px;
}
.bookmenu:hover {
  background-color: #E0F2F1;
  color: #00695C;
  text-decoration: none;
  cursor: pointer;
}
.bookmenuactive {
  text-decoration: none;
  background-color: #E0F2F1;
  color: #00695C;
  padding: 0.5em 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  letter-spacing: 2px;
}
.flexbooks {
  max-width: 25%;
  min-width: 25%;
  max-height: 25%;
  flex-wrap: wrap;
  text-align: center;
  margin: 1em 2em;
}
.flexbooks img {
  max-width: 100%;
  max-height: 200px;
}
.flexbooks img:hover {
  filter: none;
  cursor: pointer;
}
#bestsellers {
  background-image: url("IMG_1757.JPG");
  filter: saturate(2);
  margin-bottom: 4em;
}
li {
  letter-spacing: 1px;
  line-height: 1.5;
  color: #333;
  padding-left: 20px;
}
a {
  text-decoration: none;
  color: #00695C;
}
a:hover {
  text-decoration: underline;
}
.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  padding-bottom: 1em;
  z-index: -1;
  text-align: center;
  margin-bottom: 1em;
}
.footer p,.footer a {
  color: #E0F2F1;
}
#newreleases, #overview, #editorschoice {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  .header h1 {
    font-size: 300%;
  }
  #flex {
    flex-direction: column;
  }
  .image {
    height: 30vh;
  }
  .image1 {
    height: 30vh;
  }
  a {
    font-size: 80%;
  }
  .top a {
    font-size: 60%;
  }
  #burgers {
    display: block;
  }
  #hamburger, #bamburger {
    display: block;
  }
  .topbar {
    margin-top: 2em;
  }
  .topbar a {
    display: none;
  }
  .flextext {
    margin: 0px 5%;
    max-width: 100%;
    min-width: 0%;
  }
}
@media only screen and (max-width: 375px) {
  .header h1 {
    font-size: 100%;
  }
}
