body {
  margin: 0;
  background-color: #254049;
  z-index: -2;
}
h1 {
  margin: 0;
}
.topbar {
  width: 100%;
  background-color: #254049;
  display: inline;
  position: fixed;
}
.topbar a {
  color: #F5ECCD;
  display: inline;
  margin: 0 1em;
  padding: 1em;
  text-transform: uppercase;
}
.topbar a:hover {
  background-color: #F5ECCD;
  color: #254049;
  text-decoration: none;
}
#topflex {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #F5ECCD;
  flex-wrap: wrap;
}
#hamburger {
  display: none;
  margin-left: 90%;
}
#hamburger:hover {
  cursor: pointer;
}

.header {
  background-color: #254049;
  border-bottom: 1px solid #F5ECCD;
}
.header h1 {
  max-width: 100%;
  overflow: hidden;
}
.top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #254049;
  z-index: 0;

}
.top a {
  padding: 1em;
  color: #F5ECCD;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 120%;
  letter-spacing: 2px;
}
.top a:hover {
  background-color: #F5ECCD;
  color: #254049;
  text-decoration: none;
}
.image {
  background-image: url("bøker.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 70vh;
  z-index: -1;

}
h1 {
  text-align: center;
  color: #F5ECCD;
  text-transform: uppercase;
  font-size: 600%;
  text-shadow: 2px 2px black;
  letter-spacing: 0.2em;
}
.bot {
  min-height: 50vh;
  background-color: #F5ECCD;
  z-index: 0;
}
.image1 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  min-height: 70vh;
  z-index: -1;
}
#intro {
  background-image: url("bøker3.jpg");
}
#loc {
  background-image: url(location.png);
}
.para {
  min-height: 30vh;
  background-color: #F5ECCD;
  border-bottom: 1px solid #254049;
}

h2 {
  letter-spacing: 1px;
  color: #254049;
  padding-left: 20px;
}
p {
  letter-spacing: 1px;
  line-height: 1.5;
  color: #333;
  padding-left: 20px;
}
#flex {
  display: flex;
  justify-content: center;
}
.flextext {
  margin: 0px 5%;
}
#bestbooks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#aBooks {
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #254049;
  flex-wrap: wrap;
}
.bookmenu {
  text-decoration: none;
  color: #F5ECCD;
  padding: 0.5em 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  letter-spacing: 2px;
}
.bookmenu:hover {
  background-color: #F5ECCD;
  color: #254049;
  text-decoration: none;
  cursor: pointer;
}
.bookmenuactive {
  text-decoration: none;
  background-color: #F5ECCD;
  color: #254049;
  padding: 0.5em 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  letter-spacing: 2px;
}
.flexbooks {
  max-width: 25%;
  max-height: 25%;
  flex-wrap: wrap;
  text-align: center;
  margin: 1em 2em;
}
.flexbooks img {
  max-width: 100%;
  max-height: 100%;
}
#bestsellers {
  background-image: url("frakantina.jpg");
  margin-bottom: 4em;
}
li {
  letter-spacing: 1px;
  line-height: 1.5;
  color: #333;
  padding-left: 20px;
}
a {
  text-decoration: none;
  color: #254049;
}
a:hover {
  text-decoration: underline;
}
.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  padding-bottom: 1em;
  z-index: -1;
  text-align: center;
  margin-bottom: 1em;
}
.footer p,.footer a {
  color: #F5ECCD;
}
#newreleases, #overview, #editorschoice {
  display: none;
}
@media only screen and (max-width: 768px) {
  .header h1 {
    font-size: 300%;
  }
  #flex {
    flex-direction: column;
  }
  .image {
    height: 30vh;
    height: 30%;
  }
  .image1 {
    height: 30vh;
  }
  a {
    font-size: 80%;
  }
  .top a {
    font-size: 60%;
  }
  #hamburger {
    display: flex;
  }
  .topbar a {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  .header h1 {
    font-size: 100%;
  }
}
