body {
  margin: 0;
}
#header {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: #EEE;
  color: #333;
}
#header h1 {
  margin: 0;
  padding: 0.5em;
}
#main {
  width: 100%;
  display: flex;
}
.flex {
  width: 25%;
  background-color: #EEE;
  height: 50vh;
  margin: auto;
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #333;
}
.flex p {
  padding-left: 2em;
  padding-right: 2em;
}
