body {
  background-color: #EEE;
  font-family: sans-serif;
  margin: 0;
}
.header {
  color: orange;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  max-width: 100%;
  font-size: 150%;
}
.header p {
  border-bottom: 1px solid orange;
  border-top: 1px solid orange;
}
.main {
  max-width: 70%;
  margin-left: 15%;
  padding: 1em;

  border-radius: 5px;
}
 .text {
  color: orange;
  letter-spacing: 2px;
  line-height: 150%;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  text-align: center;
  width: 100%;
  z-index: -1;
}
.main .celeb {
  max-width: 50%;
  margin: 0;
  padding: 0;
  float: left;
  padding-bottom: 2em;
  display: none;
  margin-bottom: 1em;
  text-align: center;
}
.main .celeb img {
  display: inline;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.main .celeb p {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-decoration: none;
}
.main .celeb:hover {
  cursor: pointer;
}
