body {
  margin: 0;
  background-color: #EEE;
  font-family: sans-serif;
}
.header {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 150%;
  padding: 15vw 2em;
  background-image: url("https://images6.alphacoders.com/397/397697.jpg");
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  letter-spacing: 20px;
  text-shadow: 2px 2px #000000;
}
.main {
  max-width: 60%;
  background-color: white;
  color: #333;
  margin-left: 20%;
  border-radius: 5px;
  padding: 1em;
  line-height: 25px;
}
.main h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.stats img {
  max-width: 50%;
  float: left;
  padding-right: 15px;
  border-radius: 5px;
}
.career {
  margin-top: 10em;
}
