body {
  margin: 0;
  padding: 0;
  background-color: #EEE;
}
#topimg {
  background-image: url("http://imgur.com/3NPdxgL.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#topimg p {
  padding: 3em;
}
#c2, #c4 {
  text-align: right;
}
#main {
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
  border-top: 1px black solid;

}
 p {
  margin: 0;
  letter-spacing: 2px;
  color: #333;
  line-height: 1.5;
}
.para p {
  padding-left: 2em;
}
h1, h2 {
  margin: 0;
  padding: 1em;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
}
#about {
  display: flex;
  justify-content: center;
}
#about p {
  max-width: 40%;
}
#ab1 {
  border-right: 1px solid #AAA;
  padding-right: 1em;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hiddenflex {
  max-width: 200px;
  max-height: 400px;
  text-align: center;
}
.hiddenflex img {
  width: 100%;
  margin: 0;
}
.hiddenflex p {
  padding-left: 0;
}
#footer, #underfooter {
  background-color: #EEE;
  width: 100%;
  text-align: center;
  font-size: 120%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#footer p {
  margin: 0;
  padding: 0;
}
#underfooter {
  background-color: #AAA;
}
#underfooter p {
  color: #white;
}
.f {
  border-right: 1px solid #AAA;
  padding: 2em;
  margin: 2em;
  width: 40%;
}
.fx {
  padding: 2em;
  margin: 2em;
  width: 60%;
}
.fy {
  width: 100%;
}
.midimg {
  background-repeat: no-repeat;
  width: 50%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 80vh;
  float: left;

}
#first {
  background-image: url("park.JPG");
}
#second {
  background-image: url("inne.JPG");
}
.para, .flex {
  margin-bottom: 3em;
}
.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  background-color: #333;
}
.navbar p {
  text-transform: uppercase;
  background-color: #333;
  color: white !important;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.navbar p:hover {
  background-color: white;
  color: #333 !important;
  cursor: pointer;
}
.vid {
  display: flex;
  justify-content: center;
}
