body {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 0;
}
#outcart, #incart {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  overflow-y: scroll;
}
#incart {
  width: 30%;
}
#outcart {
  width: 70%;
}
p, h3 {
  padding: 0em;
  margin: 0.5;
}
.para {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  width: 100%;
}
.underpara {
  background-color: #EEE;
  border: 1px solid #333;
  padding: 1em;
}
.top {
  width: 100%;
}
