body {
  margin: 0;
  font-family: sans-serif;
  background-color: #EEE;
}
.linkactive{
  text-decoration: underline;
}
#header {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
  background-color: white;
  position: fixed;
  flex-wrap: wrap;
  border-bottom: 1px solid #EEE;
}
#header p, #header a {
  color: #333;
  border: 1px solid #EEE;
  padding: 1em;
  margin: 0;
  text-transform: uppercase;
  background-color: white;
  border-top: 0;
  border-bottom: 0;
  }
#header p:hover, #header a:hover {
  background-color: #EEE;
  color: #333;
  cursor: pointer;
  border: 1px solid white;
  border-top: 0;
  border-bottom: 0;
}
#header a:hover, #header a {
  text-decoration: none;
}
.main {
  width: 70%;
  margin: auto;
  line-height: 1.5;
  background-color: white;
}
.main p, li {
  padding: 1em;
  color: #333;
}
.main a {
  text-decoration: none;
  color: #333;
  margin: 2em;
}
.main a:hover {
  text-decoration: underline;
  color: #AAA;
}
.main h2, h3 {
  padding: 1em;
  padding-bottom: 0;
  color: #333;
  margin: 0;
}
.main table, th, td {
  border: 1px solid #AAA;
  border-collapse: collapse;
  padding: 1em;
}
.main table {
  margin: auto;
}
#headerimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-image: url("topimg.JPG");
  height: 70vh;
  width: 100%;
}
#headerimg2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-image: url("skap.jpg");
  height: 70vh;
  width: 100%;
}
#headerimg3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-image: url("gym.jpg");
  height: 70vh;
  width: 100%;
}
#headerimg5 {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-image: url("math.jpg");
  height: 70vh;
  width: 100%;
}
#headerimg4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-image: url("realfagosv.JPG");
  height: 70vh;
  width: 100%;
}
#headerimg6 {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-image: url("http://byasen.vgs.no/upload/By%C3%A5sen/aktuelltbilder/Besok_Fra_Atlanten/sakbilde2.jpg");
  height: 70vh;
  width: 100%;
}
#headerimg7 {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-image: url("http://byasen.vgs.no/upload/By%C3%A5sen/aktuelltbilder/Interasjonalt%20bes%C3%B8k/Bilde%201.jpg");
  height: 70vh;
  width: 100%;
}
#footer {
  width: 100%;
  color: #333;
  margin: 0;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}
#footer p {
  margin: 0;
  padding: 0;
}
iframe {
  width: 100%;
  height: 500px;
}
.contactflex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#nN {
  padding-bottom: 2em;
}
.fag:hover {
  border-top: 2px solid #EEE;
  border-bottom: 2px solid #EEE;
  cursor: pointer;
  border-radius: 5px;
}
.underflex {
  text-align: center;
}
.underflex span {
  font-size: 200%;
}
.underflex:hover {
  cursor: pointer;
}
#samffag .underflex, #rfag .underflex {
  width: 50%;
}
#warningheader {
  background-color: red;
  color: white;
  position: fixed;
  width: 100%;
  padding: 0em;
  margin-top: 3em;

}
